
.about{
    width: 100%;
    padding-bottom: 300px;
}
.about-wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 200px;
    display: flex;
 }
.about-title{
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    color: #2C2F36;
    max-width: 370px;
    padding-top: 109px;
    margin-bottom: 199px;
    position: relative;
    content: "";
}
.about-title::after{
    position: absolute;
    content: "";
    width: 72px;
    height: 3px;
    background-color: #FB8C00;
    bottom: -32px;
    left: 0;
}
span{
    color: #FB8C00;
}
.about-list{
    display: flex;
    margin: 0;
    list-style: none;
    &__item:first-child{
        padding-left: 0;
        max-width: 162px;
    }
    &__item:nth-child(2){
        max-width: 195px;
    }
    &__item:last-child{
        max-width: 120px;
    }
}
.about-list__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2C2F36;
    position: relative;
}    
.about-svg__first::before,
.about-img__second::before,
.about-svg__third::before{
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 28px;
    top: -68px;
    left: 16px;
}
.about-svg__first::before{
    background-image: url(../../img/index/aboutf.svg);
}
.about-img__second::before{
    background-image: url(../../img/index/abouts.svg);
}
.about-svg__third::before{
    background-image: url(../../img/index/aboutt.svg);
}
.about-list__item{
    padding-left: 63px;
    position: relative;
    contain: "";
}
.about-list__item::before{
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    top: -84px;
}
.aboout-list__line{
    position: relative;
    content: "";
}
.aboout-list__line::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 150px;
    background-color: #9BA9B5;
    opacity: 0.2;
    border-radius: 36px;
    right: -30px;
    bottom: 0;
}
.about-picture__img{
    padding-top: 80px;
}

