.button-sent{
    width: 290px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #FB8C00;
    border-radius: 37px;
    border: none;
}
.button-sent:hover{
    background-color: #2F80ED;
}