.catalog-wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 73px;
    padding-bottom: 194px;
}
.title{
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #2C2F36;  
}
.catalog__title{
    padding-bottom: 148px;
}
