
.footer{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 180px;
    background-image: url(../../img/index/footerbg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.footer-wrapper{
    max-width: 1170px;
    height: 235px;
    padding-top: 180px;
    padding-left: 215px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 81px;
}
.footer-navigation{
    display: flex;
    justify-content: space-between;
}
.link-footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    content: "";   
}
.link-footer::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    opacity: 0.3;
    background-color: #B4BBCE;
    top: -27px;
    left: 0;
}
.networks{
    padding-top: 18px;
}
.networks__video{
    padding-right: 24px;
}
.address{
    text-align: end;
}
.address__mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #2F80ED;  
}
.address__town{
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #2C2F36;
}
.phone__call{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2C2F36;
}
.link-footer__item{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #B4BBCE;
}
.link-footer__heart{
    padding-right: 16px;
    position: relative;
    content: "";
}
.link-footer__heart::after{
    position: absolute;
    content: "";
    background-image: url(../../img/index/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 10px;
    height: 9px;
    top: 5px;
    right:0;
}
