
.header{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    content: "";
}
.header-wrapper{
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-left: 215px;
}



