
.header{
    width: 100%;
    margin: 0 auto;
}
.header-wrapper{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-left: 200px;
}
.menu__headr-list{
    display: flex;
    padding-left: 0;
}
.menu__header-item{
    list-style: none;
}
.menu__header-link{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2C2F36;
    text-decoration: none;
    padding-right: 72px;
}
.menu__header-link:hover{
    color: #FB8C00;
}
.menu__header-link:active,
.menu__header-link:focus{
    color: #cf7404;
}
.header__logo{
    padding-right: 314px;
}
.button__print{
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background: #FB8C00;
    border-radius: 88px;
    padding-left: 58px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    }
    .button__print:hover{
        background-color: #2F80ED;
    }
    .button__print:active,
    .button__print:focus{
        background-color: #0649a0;
    }
    .wrapper{
        background-image: url(../../img/index/wrapper.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 940px;
    }



