
.header{
    width: 100%;
    margin: 0 auto;
}
    .wrapper{
        background-image: url(../../img/index/wrapper.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 940px;
    }



