
.printing-prices{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../../img/index/printfon.png);
}
.printing-wrapper{
    max-width: 1170px;
    max-height: 582px;
    margin-left: 215px;
    margin-bottom: 180px;
    background-color: white;
    border-radius: 35px;
    position: relative;
    content: "";
}
.printing-wrapper::before,
.printing-wrapper::after{
    position: absolute;
    content: "";
    width: 1170px;
    height: 54px;
    background-color: #B4BBCE;
    opacity: 0.15;
    
}
.printing-wrapper::before{
    top: 360px;
    left: 0;
}
.printing-wrapper::after{
    bottom: 60px;
    left: 0;
}
.printing-link__item{
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #2C2F36;
    opacity: 0.4;
    position: relative;
    contain: "";
}
.printing-link__item:hover{
    color: #FB8C00;
    opacity: 1;
}
.printing-wrapper__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2C2F36;
    padding-bottom: 64px;
    padding-left: 70px;
}
.printing-table__subtitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #2C2F36;
    opacity: 0.4;
    padding-bottom: 37px;
}
.printing-table__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2C2F36;
    padding-bottom: 32px;
}
.printing-table__number{
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #2C2F36;
    padding-bottom: 32px;
}
.printing-link{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    padding-bottom: 55px;
    padding-top: 70px;
    padding-left: 70px;
    position: relative;
    content: "";
}
.printing-link::before{
    position: absolute;
    content: "";
    width: 1030px;
    height: 3px;
    background-color: #B4BBCE;
    border-radius: 18px;
    top: 116px;
    left: 70px;
}
.printing-table{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 172px;
    padding-bottom: 70px;
    
}
.printing-table__item:nth-of-type(2) .printing-table__subtitle{
    width: 157px;
}
.printing-table__item:nth-of-type(3) .printing-table__subtitle{
    width: 158px;
}
.printing-table__item:nth-of-type(4) .printing-table__subtitle{
    width: 125px;
}
.printing-table__item:nth-of-type(1) .printing-table__subtitle{
    padding-bottom: 57px;
}