.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 126px 30px;  
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.block__subtitle{
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #2C2F36; 
    text-align: center;
}
.block__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2C2F36;
    width: 228px;
    height: 44px;
    text-align: center;
    padding-top: 16px;
}
.block:nth-of-type(1)> .block__subtitle{
    max-width: 215px;
}
.block:nth-of-type(7)> .block__subtitle{
    max-width: 280px;
}
.block:nth-of-type(8)> .block__text{
    width: 262px;
}
.block__img{
    display: block;
}
.block:nth-of-type(1)> .block__img{
    transform: translate(0, -33px);
}
.block:nth-of-type(2)> .block__img{
    transform: translate(0, -48px);
}
.block:nth-of-type(3)> .block__img{
    transform: translate(0, -55px);
}
.block:nth-of-type(4)> .block__img{
    transform: translate(0, -32px);
}
.block:nth-of-type(5)> .block__img{
    transform: translate(0, -54px);
}
.block:nth-of-type(6)> .block__img{
    transform: translate(0, -40px);
}
.block:nth-of-type(7)> .block__img{
    transform: translate(0, -45px);
}
.block:nth-of-type(8)> .block__img{
    transform: translate(0, -47px);
}
.block:nth-of-type(9)> .block__img{
    transform: translate(0, -45px);
}
