.work{
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 350px;
}
.work-wrapper{
    max-width: 1387px;
}
.work-container{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}
.work__title{
    padding-left: 215px;
}

