.work-wrapper{
    width: 100%;
    padding-bottom: 350px;
}
.work{
    max-width: 1387px;
}
.work-container{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}
.work__title{
    padding-left: 215px;
}

