*{
    margin: 0;
    padding: 0;  
}
*{
    box-sizing: content-box;
}
*::before,
*::after{
    box-sizing: inherit;
}
ul li{list-style: none;}
a {text-decoration: none;}

::-webkit-input-placeholder{
    padding-left: 24px;
    padding-top: 15px;
  }