
@import './block/header.scss';
@import './block/header-wrapper.scss';
@import './block/menu.scss';
@import './block/button-header.scss';
@import './block/logo.scss';
@import './block/about.scss';
@import './block/main.scss';
@import './block/catalog.scss';
@import './block/work.scss';
@import './block/footer.scss';
@import './fonts.scss';
    

*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: content-box;
}
*::before,
*::after{
    box-sizing: inherit;
}
ul li{list-style: none;}
a {text-decoration: none;}


